/*main structure*/
.wrap {
    box-sizing: border-box;
    width: 680px;
    margin: 0 auto;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #000000;
}

.content {
    padding-top: 70px;
}

.create-task {
    position: relative;
}

.show-task {
    position: relative;
}

.taskList {
    margin: 70px 0 0;
}

.finished_taskList {
    color: #9b9b9b;
    margin: 50px 0 50px 0;
}

/*font style*/
h1 {
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.div-date {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #9f9f9f;
    outline: none;
    position: absolute;
    right: 32px;
}

/*input style*/
.input-name {
    box-sizing: border-box;
    width: 100%;
    height: 33px;
    font-size: 24px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #979797;
    padding-left: 40px;
    padding-right: 32px;
    padding-bottom: 2px;
}

.input-name:focus,
.input-desc:focus {
    outline: none;
}

.input-desc {
    box-sizing: border-box;
    width: 100%;
    margin-top: 30px;
    height: 160px;
    border-radius: 3px;
    border: solid 1px #979797;
    font-family: Helvetica;
    font-size: 24px;
    padding: 12px;
}

.input-date {
    height: 30px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #9f9f9f;
    border: none;
    outline: none;

}

#input-year {
    width: 40px;
}

#input-month {
    width: 20px;
}

#input-day {
    width: 20px;
}

.hide {
    display: none;
}

/*task style*/
.task {
    margin-bottom: 20px;
    user-select: none;
}

.task-info {
    margin-left: 40px;
    padding: 4px 0 4px 1px;
}

.task-info:hover {
    background-color: #efefef;
    border-radius: 3px;
}

.task-info .date {
    padding-left: 13px;
    font-size: 18px;
    color: #9b9b9b;
}

.task-info .desc {
    font-size: 18px;
    line-height: 1.33;
}

.active .task-info {
    margin-left: 40px;
    padding: 4px 0 4px 1px;
    border-radius: 3px;
    background-color: #efefef;
}

/*icon style*/
.icons {
    width: 32px;
    height: 32px;
    background-size: 20px 20px;
    position: absolute;
}

.icon-add {
    background: url("../src/add.svg") no-repeat center;

}

.icon-addMore {
    background: url("../src/addMore.svg") no-repeat center;
    right: 0;
}

.icon-checkbox {
    background: url("../src/checkBox.svg") no-repeat center;
    height: 36px;
}

.icon-checkbox-checked {
    background: url("../src/checkBoxChecked.svg") no-repeat center;
    height: 36px;
}

.icon-calender {
    background: url("../src/calender.svg") no-repeat center;
    right: 32px;
}

.icon-showLess {
    background: url("../src/showLess.svg") no-repeat center;
    right: 0;
}

.icon-moreInfo {
    background: url("../src/moreInfo.svg") no-repeat center;
    right: 0;
}

.icon-delete {
    background: url("../src/delete.svg") no-repeat center;
    right: 0;
}

@media (max-width: 460px) {
    .wrap {
        width: 80%;
        font-size: 16px;
    }

    .content {
        padding-top: 40px;
    }

    h1 {
        font-size: 24px;
    }

    .icons {
        margin: 2px;
        width: 18px;
        height: 18px;
        background-size: 14px 14px;
    }

    .icon-checkbox {
        height: 25px;
    }

    .icon-checkbox-checked {
        height: 18px;
    }


    .icon-calender {
        right: 20px;
    }


    .taskList {
        margin: 40px 0 0;
    }

    .finished_taskList {
        margin: 20px 0 20px 0;
    }


    .div-date {
        font-size: 12px;
        left: 0;
        top: 130px;
        position: absolute;

    }

    /*input style*/
    .input-name {
        height: 20px;
        font-size: 14px;
        padding-left: 23px;
        border-radius: 0;
    }

    .input-desc {
        margin-top: 16px;
        height: 85px;
        font-size: 16px;
        padding: 8px;
    }

    .input-date {
        height: 14px;
        font-size: 12px;
    }

    #input-year {
        width: 26px;
    }

    #input-month {
        width: 15px;
    }

    #input-day {
        width: 15px;
    }

    /*task style*/
    .task {
        margin-bottom: 10px;
    }

    .task-info {
        margin-left: 23px;
    }

    .task-info .date {
        padding-left: 7px;
        font-size: 12px;
    }

    .task-info .desc {
        font-size: 16px;
    }

    .active .task-info {
        margin-left: 23px;
    }


}